@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
        url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
        url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */
.header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}

.nav {
  display: flex;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
}

.nav-list {
  display: flex;
  margin: 0;
  list-style: none;
  align-items: center;
}

.nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 17px;
}

/*Навигация пользователя с запасом на доп. элемент*/
.nav-user {
  margin-left: auto;
}

.nav-user-link {
  min-width: 18px;
  min-height: 18px;
  padding: 20px 11px;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  background-color: #83b3d3;
  color: #ffffff;
  cursor: pointer;
}

.header-button {
  display: block;
  width: 160px;
  height: 37px;
  color: #ffffff;
  background-color: #756257;
  margin-left: 20px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.button-brown {
  background-color: #756257;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.welcome-container {
  background-image: url("../images/background-intro.jpg");
  /* background-size: 1200px 485px; */
  /* height: 485px; */
  background-repeat: no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.welcome-text {
  display: block;
  text-align: center;
}

.welcome-title {
  width: 720px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sedona-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
}

/* Advantages */
.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item{
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.advantages-item-white {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(3) {
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: center 89px;
}

.advantages-item:nth-child(4) {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 91px;
}

.advantages-item:nth-child(5) {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 85px;
}

.photo-container {
  width: 800px;
  padding: 0;
}

.advantages-title {
  margin: 0;
  width: 400px;
  padding: 98px 0 29px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-icon{
  padding: 184px 75px 20px;
}

.advantages-number {
  width: 250px;
}

.advantages-description {
  margin: 0;
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
  width: 400px;
  }

.advantages-item-white .advantages-description {
  width: 400px;
  margin: 0;
  padding: 30px 90px 87px 90px;
}

.text-white {
  color: #ffffff;
}

.hotels-search-title {
  color: #000000;
  background-color: #ffffff;
}

.hotels-search {
  text-align: center;
}

.hotels-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotels-search-title {
  display: block;
  padding: 91px 240px 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.hotels-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.button-search {
  margin: 56px 312px 93px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/background-subscription.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-color: #93adba;
  color: #ffffff;
  text-align: center;
}

.subscription-title {
  padding: 94px 240px 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0 240px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  margin: 46px 200px 94px;
}

.form-input {
  width: 600px;
  height: 60px;
  border-radius:  10px 0px  0px 10px;
  border: none;
  background-color: #f2f2f2;
}

.subscription-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color:#ffffff;
  background-color: #83b3d3;
  width: 200px;
  border: none;
  border-radius: 0 10px 10px 0;
}

.footer {
  display: flex;
  padding: 40px 72px;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item:nth-child(2) {
  margin: 0 30px 0 29px;
}

.footer-phone {
  display: flex;
  align-items: center;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background-search.jpg");
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-left: 71px;
  padding-right: 72px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 77px;
  margin: 0;
  padding-bottom: 5px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  list-style: none;
}

.breadcrumbs-link {
  margin-right: 30px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item:first-child .breadcrumbs-link::before {
  content: url("../images/home.svg");
}

.breadcrumbs-link:hover{
  opacity: 0.6;
}

.catalog-filter-container {
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-bottom: 83px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.button-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button-apply {
  min-width: 160px;
  min-height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: #83b3d3;
  border-radius: 4px;
  border: 0;
  margin-bottom: 20px;
}

.button-reset {
  min-width: 160px;
  min-height: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 53px;
  margin-left: 71px;
  margin-right: 72px;
}

.sorting-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  min-width: 287px;
  min-height: 48px;
  padding-left: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  color: #333333;
}

.sorting-view-type {
  display: flex;
  justify-content: center;
}

.sorting-view-type-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-view-type-item:nth-child(2) {
  padding: 0 8px;
}

.button-view-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.button-view-type-selected {
  border-color: #000000;
}

.hotels-catalog-container {
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
}

.hotels-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  gap: 10px 18px;
}

/* Карточка */
.hotels-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hotels-card-image {
  margin-bottom: 16px;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: 0;
}

.hotels-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 100%;
  margin-bottom: 16px;
}

.hotels-card-type {
  font-size: 18px;
  line-height: 24px;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 24px;
  text-align: start;
}

.card-button {
  display: flex;
  margin-bottom: 16px;
}

.hotels-card-button {
  width: 133px;
  height: 37px;
  margin-right: 26px;
  padding: 9px 0 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #756257;
  border-radius: 4px;
}

.button-favourites-hotels {
  width: 141px;
  height: 37px;
  padding: 9px 0 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border: none;
  border-radius: 4px;
}

.rating {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.two-stars {
  width: 43px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: space;
  margin-right: 97px;
}

.three-stars {
  display: flex;
  width: 68px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: space;
  margin-right: 72px;
}

.four-stars {
  width: 89px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: space;
  margin-right: 49px;
}

.hotels-card-rating {
  text-align: center;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 0 10px 0;
}

.show-more-container {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0;
}

.button-show-more {
  min-width: 620px;
  min-height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border: none;
  border-radius: 4px;
  margin: 30px 290px;
}

/* Пагинация*/
.pagination {
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-item-current {
  background-color: #f2f2f2;
  color: #000000;
}

.input-number-title {
  width: 175px;
  height: 23px;
  margin-right: 50px;
}

.sorting-select {
  width: 160px;
  height: 48px;
  padding: 13px 20px 17px 12px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.subscription-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.subscription-title-catalog {
  padding: 73px 240px 46px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-form-catalog {
  display: flex;
  justify-content: center;
  margin: 46px 200px 141px;
}

.form-input {
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  padding-left: 20px;
}
